<div class="container-fluid" style="text-align: center;">
    <div class="row flex-grow-1">
        <h2>Incident Form</h2>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted">
            <!-- Incident Name field -->
            <div class="form-group">
                <label for="incidentName">Incident title:</label>
                <input type="text" class="form-control" id="incidentName" name="incidentName"
                    formControlName="incidentName" [(ngModel)]="model.title" required>
            </div>


            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>