<div class="container-fluid">
    <div class="row flex-grow-1">
        <!-- Sekcja 1 -->
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start bg-light p-4">
            <h2>About Application</h2>
            <p>
                The application allows users to report road events and visualize them on a map. Users can submit details
                of
                various incidents, which are then displayed with precise locations using geocoding technology. The app
                integrates with a Geocoding API to determine and plot the locations of reported events on an interactive
                map.

                Built with Angular, the application offers a responsive and user-friendly interface, ensuring seamless
                interaction across different devices. Its core functionality includes submitting event details,
                real-time
                map
                visualization, and location management powered by geospatial APIs. This tool is designed to improve
                awareness
                and enhance road safety by providing an intuitive platform for reporting and tracking road events.
            </p>
            <button class="btn btn-primary" (click)="onNavigate()">Create a request</button>

        </div>

        <!-- Sekcja 2 -->
        <div class="col-md-6 p-0">
            <img src="https://hips.hearstapps.com/roa.h-cdn.co/assets/16/39/1600x1070/gallery-1475251666-00-lead-gettyimages-523821065.jpg?resize=640:*"
                alt="Photo cars" class="img-fluid rounded img-full">
        </div>
    </div>
</div>